@import "compass";
@import "bootstrap";

$primary-green: #c1d82f;
$primary-blue: #27318b;


html, body{
	font-family: "arial","trebuchet MS","tahoma","helvetica","clean,sans-serif";
}

.highlight{
	color: $primary-green;
}

.title{
	color: $primary-green;
}

.success{
	color: $primary-blue;
}