@import "compass";
@import "bootstrap";

$primary-green: #c1d82f;
$primary-blue: #27318b;


html, body{
  font-family: "arial","trebuchet MS","tahoma","helvetica","clean,sans-serif";
}

.highlight{
  color: $primary-green;
}

.title{
  color: $primary-green;
}

.success{
  color: $primary-blue;
}

h1{
  color: $primary-green;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #c1d82f;
    color: #27318b;
}

.navbar{
  background-color:#27318b;
  height:115px;
  width:100%;
  border-radius: 0px !important;

.nav{
  margin-left:10px;
  margin-top:40px;
  width:100%;
}

.nav-bars{
  display:none;
    float: right;
    margin-right: 45px;
    margin-top: 47px;
}

.nav-bars-menu{
  display:block;
  background-color:#27318B;
  height:600px;
  width:110px;
  float:right;
  margin-top:114px;
  margin-right:-70px;
}

.logosmall{
  display:none;
}

/*LOGIN PAGINA*/

.loginbox{
    background-color:#fff!important;
    border-radius:0!important;
    border:none!important;
}

.loginbox.loginboxinner {
    width:300px;
    margin:0 auto;
    margin-top:100px;
}
.loginbox.loginboxinner legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
  padding-top: 2px;
}
.loginbox.loginboxinner label {
  font-weight:300;
  font-size:16px;
  
}
.loginbox.loginboxinner input{
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.loginbox.welcome-text{
    font-size:21px;
}

.loginbox .btn{
  background-color:#C1D82F;
  border:#C1D82F;
  color:#27318B;
}

.loginbox .btnreg{  
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.loginbox form{
  padding:17px;
}

.loginbox .centerbuttons{
  width:154px;
  margin:0 auto;
  margin-bottom:10px;
  padding-top:10px;
}

.loginbox .btn:hover{
  background-color:#27318B;
  color:#ffffff;
}


/*BOX SHADOWWWWWWWW*/

.loginboxshadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.loginboxshadow:before, .loginboxshadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.loginboxshadow:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}



@media(max-width: 1270px){
  .nav-pills{
    display:none;
  }
  .nav-bars{
    display:block;
  }
}

@media(max-width: 530px){
  .logosmall{
    display:block;
  }
  .logo{
    display:none;
  }
}

@media(max-width: 500px){
  .loginbox.loginboxinner{
    margin-top:50px;
  } 
}

@media(max-width: 340px){
  .loginbox.loginboxinner{
    width:250px;
  } 
}