/* Webfont: KdG-Regular */@font-face {
    font-family: 'KdG';
    src: url('fonts/KdG-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/KdG-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/KdG-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/KdG-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/KdG-Regular.svg#KdG-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


body {
	color: black;
}

input {
	border-radius: 0px !important;
	margin-bottom: 20px;
}

table {
	margin-top: 40px;
}

/*th {
	background-color: transparent;
	min-width: 100px;
}*/

select {
	border-radius: 0 !important;
	margin-bottom: 20px;
}

label {
	margin-bottom: 20px;
}

h1, h2 {
	font-weight: 700;
}

div.navbar {
	background: #0c090a;
	border-bottom: 5px solid #f2f2f2;
	height: 80px;
	z-index: 100;
}

div.nav-bars, div.nav-bars-x {
	display: none;
}

div.navbar div.container {
	height: 100%;
	position: relative;
}

div.navbar img {
	width: 200px;
}

.nav-pills > li + li {
	margin-left: 0px !important;
}

ul.nav {
	display: inline-block;
	width: auto;
	position: absolute;
	bottom: 0;
	right: 0;
}

ul.nav a {
	color: white;
	font-weight: 900;
}
ul.nav > li > a {
	text-align: center;
}
ul.nav > li li a {
	margin-left: 8px;
	margin-bottom: 8px;
	display: inline-block;
}
ul.nav > li li:last-child a {
	margin-bottom: 0;
}
ul.nav > li {
	min-width: 175px;
}
ul.nav > li li {
	min-width: 145px;
}
ul.nav li a
{
	border-radius: 0;
}
ul.nav li.active a{
	background: #f2f2f2 !important;
	color: #469a3f;
	border-radius: 0;
}

ul.nav li:hover > a{
	background: #0c090a;
	color: #469a3f !important;
	border-radius: 0;
}

li.dropdown {
	position: relative;
}

li.dropdown ul {
	position: absolute;
	top: 40px;
	left: 0px;
	border: 5px solid #F2F2F2;
	background-color: #000;
	padding: 10px;
	border-top: none;
	list-style: none;
	display: none;
}

li.dropdown:hover ul {
	display: block;
}

li.dropdown ul:hover {
	display: block;
}

li.dropdown ul li a:hover {
	text-decoration: none;
}

.logosmall {
	display: block;
	padding: 15px 0 !important;
	margin-left: 0px !important;
}

.kdgFont {
	font-family: KdG;
	font-weight: 100;
}

div.title {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #f2f2f2;
	margin-bottom: 40px;
}

div.title h1 {
	color: black;
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: KdG;
	font-weight: 100;
}

h2.subTitle {
	margin-top: 20px;
	margin-bottom: 40px;
	text-transform: capitalize;
}

div.indexmain {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 60px;
}

div.indexmain > div {
	padding: 0 !important;
	width: 50%;
	float: left;
	display: inline-block;
}

div.indexmain > div input, div.indexmain > div button {
	width: 200px;
	display: inline-block;
}

.dropdown-menu {
	left: calc(50% - 100px);
}

div.span4Container {
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
}

div.span4 {
	width: calc(25% - 20px);
	padding: 0;
	margin-right: 15px;
	display: inline-block;
	float: left;
}

div.span4:nth-child(4n+0) {
	margin-right: 0;
}

.thumbnail {
	border-radius: 0;
	border: 2px solid #f2f2f2;
	height: 200px;
	text-align: center;
}

.tnExtra {
	height: 260px;
}

.tnDate {
	height: 305px;
}

.thumbnail a > img {
	height: 135px;
}

.thumbnail h3 {
	color: black;
	text-transform: capitalize;
}

.thumbnail:hover h3 {
	color: #469a3f;
}

.infogreen {
    color: #3DC53A;
}

.btnDefault {
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
	min-width: 100px;
	border-radius: 4px !important;
}

form.check * {
	display: inline-block;
	text-align: center;
}

form.check label {
	font-size: 24px;
}

form.check input {
	width: 200px;
	margin-left: 40px;
	font-size: 24px;
	height: 48px;
	margin-bottom: 0;
	border-radius: 4px !important;
}

form.check .btn {
	display: block;
	margin: auto;
	margin-top: 36px;
}

form.check > div {
	margin: auto;
	display: block;
}

div.details {
	width: 100%;
}

div.details div.image {
	text-align: center;
}

div.details div.image img {
	width: 200px;
}

div.details div.info * {
	text-transform: capitalize;
}

#scheduler_here {
	margin-bottom: 40px;
}

div.beheer {
	width: 100%;
}

div.beheer div {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
}

div.beheer div button {
	width: 200px;
}

.highlight {
	color: #469a3f !important;
}

/*div.reserveren > div > h2 {
	display: inline-block;
	width: auto;
}

div.reserveren > div > div {
	display: inline-block;
}

div.reserveren h3 {
	margin-top: 48px;
	margin-bottom: 24px;
}*/

/*#categorySelect {
	height: 48px;
	font-size: 24px;
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
	line-height: 24px;
	margin-left: 48px;
	border-radius: 4px !important;
}*/

.btn-danger, .btn-info {
	margin-bottom: 5px;
}

#filter {
	height: 46px;
	font-size: 24px;
}

#filter1 {
	height: 46px;
	font-size: 24px;
}

.panel-body {
	padding-left: 0;
	padding-right: 0;
}

div.search {
	width: 100%;
	display: inline-block;
}

div.detailSearch {
	position: relative;
	display: inline-block;
	width: 100%;
}

div.detailSearch .btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 24px;
	width: 150px;
}
.footable-image
{
	max-width: 200px;
	height: auto;
}
.alert h3
{
	margin-top: 10px;
	font-weight: bold;
}
.alert .fa
{
	margin-right: 15px;
}
.jumbo .fa
{
	margin-top:20px;
}
.btn
{
	margin-right: 5px;
}
.buttonBox {
	display: inline-block;
	width: 32%;
	vertical-align: top;
}
.selectBox {
	display: inline-block;
	width: 67%;
}
.selectBox > h2 {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
	margin-left: 250px;
}
.selectBox > div {
	display: inline-block;
	float: right;
}
.selectBox > div > select {
	width: 350px;
}
.category {
	padding: 0 !important;
}
.altSearch {
	display: inline-block !important;
	width: 67% !important;
}
.dash p {
	margin-top: 24px;
}
.reserveren h2 {
	display: inline-block;
	margin-top: 0;
}
.reserveren div.form-group {
	display: inline-block;
	width: 350px;
	margin-left: 48px;
}
.reserveren div.form-group select {
	margin-bottom: 0;
}
.reserveren .selectCat {
	text-align: center;
}