@media only screen
and (max-width: 660px) {
	.reserveren div.selectCat > div {
		display: block;
		width: 100%;
		margin-left: 0px;
		margin-top: 12px;
	}
	.reservatie .metadata {
		display: block;
		width: 100%;
		margin-top: 24px;
	}
	.reservatie .metadata div {
		text-align: left !important;
		padding-left: 0;
	}
}